################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/.vs
/DesignPatterns/AbstractFactory/bin
/DesignPatterns/AbstractFactory/obj
/DesignPatterns/AbstractFactoryRealWorld/bin
/DesignPatterns/AbstractFactoryRealWorld/obj
/DesignPatterns/Adapter/bin
/DesignPatterns/Adapter/obj
/DesignPatterns/Bridge/bin
/DesignPatterns/Bridge/obj
/DesignPatterns/BridgeRealWorld/bin
/DesignPatterns/BridgeRealWorld/obj
/DesignPatterns/Builder/bin
/DesignPatterns/Builder/obj
/DesignPatterns/Command/bin
/DesignPatterns/Command/obj
/DesignPatterns/CommandRealWorld/bin
/DesignPatterns/CommandRealWorld/obj
/DesignPatterns/Composite/bin
/DesignPatterns/Composite/obj
/DesignPatterns/CompositeRealWorld/bin
/DesignPatterns/CompositeRealWorld/obj
/DesignPatterns/Decorator/bin
/DesignPatterns/Decorator/obj
/DesignPatterns/DecoratorRealWorld/bin
/DesignPatterns/DecoratorRealWorld/obj
/DesignPatterns/Facade/bin
/DesignPatterns/Facade/obj
/DesignPatterns/FacadeRealWorld/bin
/DesignPatterns/FacadeRealWorld/obj
/DesignPatterns/FactoryMethod/bin
/DesignPatterns/FactoryMethod/obj
/DesignPatterns/Iterator/bin
/DesignPatterns/Iterator/obj
/DesignPatterns/IteratorRealWorld/bin
/DesignPatterns/IteratorRealWorld/obj
/DesignPatterns/Observer/bin
/DesignPatterns/Observer/obj
/DesignPatterns/ObserverRealWorld/bin
/DesignPatterns/ObserverRealWorld/obj
/DesignPatterns/Patterns/bin
/DesignPatterns/Patterns/obj
/DesignPatterns/Prototype/bin
/DesignPatterns/Prototype/obj
/DesignPatterns/Proxy/bin
/DesignPatterns/Proxy/obj
/DesignPatterns/ProxyRealWorld/bin
/DesignPatterns/ProxyRealWorld/obj
/DesignPatterns/Singleton/bin
/DesignPatterns/Singleton/obj
/DesignPatterns/State/bin
/DesignPatterns/State/obj
/DesignPatterns/StateRealWorld/bin
/DesignPatterns/StateRealWorld/obj
/DesignPatterns/Strategy/bin
/DesignPatterns/Strategy/obj
/DesignPatterns/StrategyRealWorld/bin
/DesignPatterns/StrategyRealWorld/obj
